* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg);
    background: url(img/background.jpg), #C4C4C4;
    background-position: center;
    background-size: cover;
    &-content {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
<<<<<<< Updated upstream
        display: flex;
        align-items: center;
=======
        margin-top: 217.1px;
        margin-left: 120.22px;
        width: 688.78px;
>>>>>>> Stashed changes
        color: #FFFFFF;
    }
}

.header_input {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
}

.header__input::placeholder {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
}

<<<<<<< Updated upstream
.game { 
    width: ($width-site: - 64) / 3;
    display: flex;
    flex-direction: column;
=======

.footer {
    width: 1440px;
    height: 556px;
    left: 0px;
    top: 1024px;

    &-content {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF; 
    
    }

    &_item {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-top: 128px;
        width: 379px;
        height: 300px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
        border-radius: 16px;
        padding-right: 268px;
        padding-top: 236.36px;
          &:hover {
            transition: 0.10s;
            transform: scale(1.01);
            box-shadow: 0px 3px 7px 0px #888;
        }
      }

    &_item_1 {
        background-image: url(img/game1.png);
    }

    &_item_2 {
        background-image: url(img/game2.png);
    }

    &_item_3 {
        background-image: url(img/game3.png);
    }
>>>>>>> Stashed changes
}


