* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg);
    background: url(img/background.jpg), #C4C4C4;
    background-position: center;
    background-size: cover;
    &-content {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
}

.header_input {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
}

.header__input::placeholder {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
}

.game { 
    width: ($width-site: - 64) / 3;
    display: flex;
    flex-direction: column;
}


